<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Salient.ReflectiveLoggingAdapter.35" publicKeyToken="B9B5972B9F69332B" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.22" newVersion="3.2.0.22"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
